.card-container {
    width: 250px;
  
    border: 3px solid #000000;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
  }
  
  .card-id {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 3px;
    font-family: monospace;
  }
  
  .card-title {
    display: inline;
  }
  
  .card-time {
  }
  
  .high-priority {
    background-color: #ff9999; 
  }
  .high-priority:hover {
    background-color: #f75f5f; 
  }
  .medium-priority {
    background-color: #ffff99; 
  }
  .medium-priority:hover {
    background-color: #f7f75e; 
  }
  .low-priority {
    background-color: #99c9ff; 
  }
  .low-priority:hover {
    background-color: #5ca5f8; 
  }